/* ---------------------------------
 * Bordered Table
 * --------------------------------- */

.datatable table.bordered {
    border-collapse: separate;
    border-spacing: 0;
}

.datatable table.bordered th:not(:has(+ .datatable-actions)),
.datatable table.bordered td:not(:has(+ .datatable-actions)) {
    border-inline-end: 1px solid var(--tblr-border-color);
}

.datatable table.bordered th:last-child,
.datatable table.bordered td:last-child {
    border-inline-end: 0;
}

/* ---------------------------------
 * Fixed Column
 * --------------------------------- */

.datatable table .fixed-start,
.datatable table .fixed-end {
    position: sticky;
    z-index: 1;
}

.datatable table .fixed-start {
    inset-inline-start: 0;
    border-inline-end: 1px solid var(--tblr-border-color);
}

.datatable table .fixed-end {
    inset-inline-end: 0;
    border-inline-start: 1px solid var(--tblr-border-color);
}

.datatable td.fixed-start,
.datatable td.fixed-end {
    background: var(--tblr-bg-surface);
}

/* ---------------------------------
 * Datatable Actions
 * --------------------------------- */

.datatable td.datatable-actions {
    padding: 5px !important;
}

/* ---------------------------------
 * Overrides
 * --------------------------------- */

.datatable .dropdown-menu {
    z-index: 9999;
}